body {
	max-width: 960px !important;
}

/* Make content fill all available space */
.pure-g .pure-u-1-5:empty {
	display: none;
}

.pure-g .pure-u-1 {
	width: 100% !important;
}

/* Hide "All Episodes" section on homepage */
h2:first-child, .episodecell {
	display: none !important;
}

/* Remove large top margin from "Podcasts" section */
.episodecell + h2, h2.centertext {
	margin-top: 0 !important;
}

/* Add margin between podcast rows in "Podcasts" section */
.feedcell {
	margin-bottom: 0.5rem;
}

/* Increase font size of podcast names in "Podcasts" section */
.feedcell .title {
	font-size: 1.25rem;
}

/* Reduce size of podcast logo in player */
.fullart_container {
	max-width: 16rem;
	margin: 0 auto 2.5rem;
	margin-top: 2.5rem !important;
}

/* Make "Delete" button more visible and bold */
.destructivebutton {
	background: #fc1b0f;
	color: #fff;
}

/* Align "Delete" button with podcast title */
#deletepodcastform {
	margin-top: 0 !important;
}

#deletepodcastform + h2 {
	line-height: 2.375rem;
}

/* Fix player appearance after we widened the page */
#progressbar, #playcontrols_container, #speedcontrols {
	width: 37.5rem !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
